.card mb-3{
    transition: 1s all ease-in-out; 
    box-shadow: 2px 2px 2px 2px rgb(176, 176, 176); 
    border: .1rem solid rgb(25, 135, 84);
}
.card h-100{
    transition: 1s all ease-in-out; 
    box-shadow: 2px 2px 2px 2px rgb(176, 176, 176); 
    border: .1rem solid rgb(25, 135, 84);}

.card h-100:hover{transform: scale(1.05); 
    border: .1rem solid rgb(16, 92, 57)}