@import url('Nunito.css');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
body {
    font-family: 'Nunito', sans-serif;margin: 0;}
header {
    background-image: url("../img/fondo/fondo1.jpg"), url("../img/fondo/fondo2.jpg"),
    url("../img/fondo/fondo3.jpg"),url("../img/fondo/fondo4.jpg"),url("../img/fondo/fondo5.jpg");
    background-size: cover; background-position: 0 0, 50% 50%, 100% 100%;
    animation-name: cambioImagenes; animation-duration:  25s;
    animation-iteration-count: infinite;animation-timing-function:ease-in-out ;
    color: #fff;padding: 6rem;
  }
  @keyframes cambioImagenes{
    0%{background-image: url("../img/fondo/fondo1.jpg");background-position: 0 0, 50% 50%, 100% 100%;}
    25%{background-image: url("../img/fondo/fondo2.jpg"); background-position: 0 0, 50% 50%, 100% 100%;}
    50%{background-image: url("../img/fondo/fondo3.jpg");background-position: 100% 100%, 0 0,50% 50% ;}
    75%{background-image: url("../img/fondo/fondo4.jpg"); background-position: 100% 100%, 0 0,50% 50% ; }
    100%{ background-image: url("../img/fondo/fondo5.jpg");background-position: 50% 50%, 100% 100%,0 0 ;}
  }
  header h1{ color: #fff;font-family: 'Nunito';text-align: center;
    font-weight: 700;text-shadow: 2px 2px rgb(35, 35, 35);  }
  main {padding: 20px;}
  .logo{  border-radius: 50%; }
  .productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  
  .producto {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: .75rem;
    padding: 1.6rem;
    width: 300px;
    transition: 1s all ease-in-out;
    box-shadow: 2px 2px 2px 2px rgb(176, 176, 176);
  }
  .producto:hover {
    transform: scale(1.05);
  }
  
  .producto img {
    max-width: 100%;
    border-radius: 2px;
  }
  
  .producto h2 {
    font-size: 1rem;
    margin-bottom: 10px;
    
  }
  
  .producto p {
    margin-bottom: 10px;
    text-align: justify;
  }
  button{
    background-color: rgb(60, 202, 3);
    border: none;
    color: #fff;
    padding: 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }
  a{text-decoration: none; color: #fff;}
  .product__mostrar {
    float: right;
    margin-right: 10rem;
    color: var(--color_fondo-o-letra_botones-2);
    font-weight: 500;
    font-size: 1rem;
    font-family: var(--fuente_principal);
}

.product__mostrar img {
    margin-left: 5px;
}


@media (max-width: 768px) {
    .producto {
      width: 90%;
      margin: 10px auto;
    }
  }