@import url('Nunito.css');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

body { font-family: 'Nunito', sans-serif;margin: 0;}

header {
    background-image: url("../img/fondo/fondo1.jpg"), url("../img/fondo/fondo2.jpg"),
    url("../img/fondo/fondo3.jpg"),url("../img/fondo/fondo4.jpg"),url("../img/fondo/fondo5.jpg");
    background-size: cover; background-position: 0 0, 50% 50%, 100% 100%;
    animation-name: cambioImagenes; animation-duration:  25s;
    animation-iteration-count: infinite;animation-timing-function:ease-in-out ;
    color: #fff;padding: 6rem;
    font-family: 'Nunito', sans-serif;
  }
  @keyframes cambioImagenes{
    0%{background-image: url("../img/fondo/fondo1.jpg");background-position: 0 0, 50% 50%, 100% 100%;}
    25%{background-image: url("../img/fondo/fondo2.jpg"); background-position: 0 0, 50% 50%, 100% 100%;}
    50%{background-image: url("../img/fondo/fondo3.jpg");background-position: 100% 100%, 0 0,50% 50% ;}
    75%{background-image: url("../img/fondo/fondo4.jpg"); background-position: 100% 100%, 0 0,50% 50% ; }
    100%{ background-image: url("../img/fondo/fondo5.jpg");background-position: 50% 50%, 100% 100%,0 0 ;}
  }

  header h1{ color: #fff;font-family: 'Nunito', sans-serif;text-align: center;
    font-weight: 700;text-shadow: 2px 2px rgb(35, 35, 35);  }

  main {padding: 10px;}

  .logo{  border-radius: 50%; }

  .productos {display: flex; flex-wrap: wrap;justify-content: center; }

  .producto {background-color: #fffdfd;border-radius: 5px; margin: .5rem;
    padding: .75rem;width: 300px;transition: 1s all ease-in-out; 
    box-shadow: 2px 2px 2px 2px rgb(176, 176, 176); 
    border: .1rem solid rgb(25, 135, 84);}

  .producto:hover { transform: scale(1.05); border: .1rem solid rgb(16, 92, 57)}
  
  .producto img { max-width: 100%; border-radius: 2px;padding: .25rem;}
  
  .producto h2 { font-size: 1rem;margin-bottom: .25rem;padding: .25rem; }
  
  .producto p { font-family: 'Nunito', sans-serif;margin-bottom: .25rem; padding: .25rem;
    text-align: justify;}

@media (max-width: 768px) {
    .producto {
      width: 90%;
      margin: 10px auto;
    }
  }